@model Privacy_Folder.Models.LoginDetails
@{
    ViewData["Title"] = "Change Password";
}
<html>
<head>
<style>
     body {
         background: linear-gradient(to bottom right, #e0f2fe, #f0f9ff); /* soft gradient */
         font-family: 'Segoe UI', sans-serif;
         margin: 0;
         padding: 0;
     }

    .center-form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    span.validation-message {
          color: orange;
          font-size: 0.9em;
          font-weight: bolder;
    }

    .form-box {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
        background-color: #ffffff;
        width: 350px;
        height:65%;
    }

        .form-box label {
            display: block;
            margin-top: 20px;
            color: #1f2937;
            font-weight: 600;

        }

        .form-box input[type="email"],
        .form-box input[type="password"] {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            box-sizing: border-box;
            border: 1px solid #cbd5e1;
            border-radius: 6px;
            background-color: #f8fafc;
            transition: border-color 0.3s ease;

        }

        .form-box button {
            margin-top: 15px;
            padding: 8px 20px;
            width: 100%;
            background-color: #3b82f6;
            color: white;
            border: none;
            cursor: pointer;
            font-weight: 600;
            transition: background-color 0.3s ease;
            border-radius: 5px;
        }

    .error-msg {
        color: #dc2626;
        margin-top: 10px;
        font-weight:bolder;
    }

    .succ-msg {
        color: #059669;
        margin-top: 10px;
    }

    h2 {
        color: whitesmoke;
        text-align: center;
    }
    .btn:hover{
        background-color:blue
    }
    body {
        background-color: #e4cae8;
    }
</style>
</head>
<body>
    @* <header style="width:100%">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Remote Book Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
        </header> *@
<div class="center-form">
    <div class="form-box">
            <h2 style="text-align:center;color: #3b82f6;font-weight: 600;">&#x2713; Change Password</h2>
        <form asp-action="PasswordChange" method="post">
            <label>Email:</label>
            <input type="email" name="Email" required />
            <span asp-validation-for="Email" class="validation-message"></span>

            <label>New Password:</label>
            <input type="password" name="Pass" required />
            <span asp-validation-for="Pass" class="validation-message"></span>

            <div style="display:flex; align-items:center">
                    <button class="btn" type="submit">&#x2713;Change Password</button>
            </div>
            @if (ViewBag.success != null)
            {
                <p style="text-align:center" class="succ-msg"><b>@ViewBag.success</b></p>
            }
            @if (ViewBag.error != null)
            {
                <p style="text-align:center" class="error-msg"><b>@ViewBag.error</b></p>
            }
    </form>
    <p style="text-align:initial;margin-top:10px;text-align:center"><a class="text-primary" asp-action="LoginPage"><b>Login Account</b></a></p>
    </div>
</div>
</body>
</html>